html {
    background-color: darkolivegreen;
}

#rem {
    font-size: 1rem;
}

#main {
    color: white;
}

h1 {
    text-align: center;
    color: burlywood;
    background-color: black;
}

img {
    padding-left: 100px;
}

.img-1 {
    width:300px ;
}

h2 {
    font-weight: 900;
    font-style: oblique;
    background-color: black;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    color: white;
}

.grey {
    color: grey;
}

.cornflowerblue {
    color: cornflowerblue;
}

.chocolate {
    color: chocolate;
}

.seagreen {
    color: seagreen;
}